@font-face {
	font-family: Avocado;
	src: url('avocado.ttf') format('truetype');
}
@font-face {
	font-family: Flood;
	src: url('flood.ttf') format('truetype');
}
@font-face {
	font-family: MayQueen;
	src: url('mayqueen.ttf') format('truetype');
}

html, body {
	margin: 0;
	padding: 0;
	font-size: 32px;
	background: rgb(240, 240, 240);
}

.flood {
	font-family: flood;
}
.fish {
	color: rgb(64, 64, 237);
}
.meat {
	color: rgb(237, 32, 32);
}

#canvas {
	display: block;
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
}

#board {
	position: absolute;
	top: 0;
	left: 0;
	width: 100vw;
}

#days {
	display: block;
	float: left;
	width: 20vw;
	height: 100vh;
	font-size: 200%;
	font-family: MayQueen;

	background: linear-gradient(90deg, #CCCCCC, rgb(240, 240, 240));
}
#food {
	display: block;
	float: right;
	width: 20vw;
	height: 100vh;
	font-family: Flood;
	font-size: 200%;
	text-align: right;

	background: linear-gradient(-90deg, #CCCCCC, rgb(240, 240, 240));
}

@keyframes fadein {
	from {
		opacity: 0;
		transform: scale(1.5) rotate(3deg);
	}
	50% {
		transform: scale(0.8) rotate(3deg);
	}
	75% {
		transform: scale(1.05) rotate(3deg);
	}
	87% {
		transform: scale(0.95) rotate(3deg);
	}
	94% {
		transform: scale(1.025) rotate(3deg);
	}
	97% {
		transform: scale(0.975) rotate(3deg);
	}
	to {
		opacity: 1;
		transform: rotate(3deg);
	}
}
#dead {
	display: none;
	padding: 1ex;
	margin-top: 25vh;
	margin-left: 20vw;
	margin-right: 20vw;

	background: repeating-linear-gradient(1deg, #AA673A, #AA673A 15%, #64320F 17%, #AA673A 30%);
	border-color: #341000;
	border-left-width: 0.1ex;
	border-top-width: 0.1ex;
	border-right-width: 0.4ex;
	border-bottom-width: 0.4ex;
	border-style: solid;
	border-radius: 1ex;

	text-align: center;
	font-family: Avocado;
	font-size: 150%;
	box-shadow: 1ex 1.5ex 16px black;

	transform: rotate(3deg);
	animation: fadein 0.2s ease;
}

#dead #game-over {
	font-size: 200%;
	color: rgb(186, 0, 0);
}
#dead #final-score-islands,
#dead #final-score-food {
	font-size: 50%;
}
#dead #final-score-food .fish,
#dead #final-score-food .meat {
	padding-left: 0.1em;
	font-size: 140%;
}
